header {

  margin: 0 auto;
  max-width: 36em;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: 'Abril Fatface',cursive;
  color: #222;
  font-size: 60px;
  position: relative;
  display: flex;
 
  
  
}

 section {
  position: absolute;
  top: 500px;
  left: 650px;
 
  
  }
  
h1 {
   margin: 0;
    padding: 0;
  letter-spacing: 6px;
}
h3 {
   margin: 0;
    padding: 0;
}

main {
  
  margin-left: auto;
  margin-right: auto;
  max-width: 36em;
  font-size: 30px;
  
 
}

p {
  
  font-family: 'Josefin Sans', sans-serif;
  color: #222;
  
}

ol {
font-family: 'Josefin Sans', sans-serif;
list-style-type: square;
  
}


blockquote::before {
content: '”';
position: absolute;
padding: 0;
margin: 0;
top: -28px;
left: -2px;  
font-size: 100px;  
}

blockquote {
  font-family: 'Abril Fatface', cursive;
  background: #3C4145;
  font-size: 60px;
  color: white;
  padding: 25px 0 25px 25px;
  margin: 50px 120px 50px 30px;
  position: relative;
}